---

let pages = [
  {
    name: "Home",
    url: "/"
  },
  {
    name: "Artikel",
    url: "/article"
  },
  {
    name: "Über uns",
    url: "/about"
  }
]

const pathname = new URL(Astro.request.url).pathname;
const page = pathname.split('/')[1]
---
<nav class="w-screen shadow-xl p-5 text-xl text-center">
  <ul>
    { 
      pages.map((page: any) => (
        <li class="inline mx-2">
          <a class={pathname == page.url? "underline underline-offset-4 decoration-4 decoration-indigo-500": ""} href={page.url}>{page.name}</a>
        </li>
      ))
    }
  </ul>
</nav>